body {
  background: #e85fc3;
}
body .container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: ;
  font-size: 4em;
  color: #f5f5f5;
  border: 3px solid;
  padding: 30px;
  flex-wrap: nowrap;
}
body :hover div {
  transform: rotateY(360deg);
}
body div {
  display: inline-block;
  font-family: 'Arial';
  transition: 0.9s;
}
body .hidden {
  visibility: hidden;
}
body :hover div:nth-child(1) {
  transition-delay: 0.05s;
}
body :hover div:nth-child(2) {
  transition-delay: 0.1s;
}
body :hover div:nth-child(3) {
  transition-delay: 0.15s;
}
body :hover div:nth-child(4) {
  transition-delay: 0.2s;
}
body :hover div:nth-child(5) {
  transition-delay: 0.25s;
}
body :hover div:nth-child(6) {
  transition-delay: 0.3s;
}
body :hover div:nth-child(7) {
  transition-delay: 0.35s;
}
body :hover div:nth-child(8) {
  transition-delay: 0.4s;
}
body :hover div:nth-child(9) {
  transition-delay: 0.45s;
}
body :hover div:nth-child(10) {
  transition-delay: 0.5s;
}
body :hover div:nth-child(11) {
  transition-delay: 0.55s;
}
body :hover div:nth-child(12) {
  transition-delay: 0.6s;
}
body :hover div:nth-child(13) {
  transition-delay: 0.65s;
}
body :hover div:nth-child(14) {
  transition-delay: 0.7s;
}
