@import "./variables/text-style.styl"
@import "./variables/color-background.styl"

reset-margin-padding()
    *,
    *::before,
    *::after 
        box-sizing: border-box;

body-background()
    background color-background

position-center()
  display flex
  align-items center
  justify-content center
constainer-text-style()
    color color-text 
    font-size font-size-text 
    font-family font-style 





