@require "./mixins.styl"
@require "./animation/animation.styl"
    
reset-margin-padding()
remove-scrollbar()
body
    position-center()
    body-background()
    .container
        height 100vh
        width 90%
        position-center()
        div 
            constainer-text-style()
            span-style()
            main-animation()
            animation-move()
        animation-delay()



