@require "./mixins.styl"
@require "./animation/animation.styl"
    
reset-margin-padding()

body
    body-background()
    .container
        position-center()
        span 
            constainer-text-style()
            span-style()
            main-animation()
            animation-move()
        animation-delay()



