body {
  background: #00f;
}
body .container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #f00;
  font-size: 4em;
  border: 10px solid #000;
  flex-wrap: nowrap;
}
body div {
  display: inline-block;
  font-family: 'Arial';
  transition: 0.9s;
}
body .hidden {
  visibility: hidden;
}
body :hover div {
  transform: rotateY(360deg);
}
body :hover div:nth-child() {
  transition-delay: 0.3s;
}
body :hover div:nth-child() {
  transition-delay: 0.3s;
}
body :hover div:nth-child() {
  transition-delay: 0.3s;
}
body :hover div:nth-child() {
  transition-delay: 0.3s;
}
