html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(240, 216, 216);
}

.profit {
  .wrap {
    .item {
      img {
        width: 100px;
      }
    }
  }
}
