body {
  background-color: #335ea4;
  position: relative;
  width: 100%;
  height: 100%;
}
[class|=snowball-start],
[class|=snowball-end] {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  animation: snowballStartRain 4s infinite;
  transition: opacity 3s;
}
[class|=snowball-end] {
  animation: snowballStartRainTest 4s infinite;
}
.snowball-start-1,
.snowball-end-1 {
  left: 0px;
}
.snowball-start-1 {
  animation-delay: 0s;
}
.snowball-end-1 {
  animation-delay: 0.4s;
}
.snowball-start-2,
.snowball-end-2 {
  left: 40px;
}
.snowball-start-2 {
  animation-delay: 0.42s;
}
.snowball-end-2 {
  animation-delay: 2.14s;
}
.snowball-start-3,
.snowball-end-3 {
  left: 80px;
}
.snowball-start-3 {
  animation-delay: 2.695s;
}
.snowball-end-3 {
  animation-delay: 2.865s;
}
.snowball-start-4,
.snowball-end-4 {
  left: 120px;
}
.snowball-start-4 {
  animation-delay: 2.28s;
}
.snowball-end-4 {
  animation-delay: 2.78s;
}
.snowball-start-5,
.snowball-end-5 {
  left: 160px;
}
.snowball-start-5 {
  animation-delay: 1.755s;
}
.snowball-end-5 {
  animation-delay: 2.415s;
}
.snowball-start-6,
.snowball-end-6 {
  left: 200px;
}
.snowball-start-6 {
  animation-delay: 0.8s;
}
.snowball-end-6 {
  animation-delay: 2.85s;
}
.snowball-start-7,
.snowball-end-7 {
  left: 240px;
}
.snowball-start-7 {
  animation-delay: 2.695s;
}
.snowball-end-7 {
  animation-delay: 3.445s;
}
.snowball-start-8,
.snowball-end-8 {
  left: 280px;
}
.snowball-start-8 {
  animation-delay: 0.17s;
}
.snowball-end-8 {
  animation-delay: 2.33s;
}
.snowball-start-9,
.snowball-end-9 {
  left: 320px;
}
.snowball-start-9 {
  animation-delay: 1.225s;
}
.snowball-end-9 {
  animation-delay: 1.225s;
}
.snowball-start-10,
.snowball-end-10 {
  left: 360px;
}
.snowball-start-10 {
  animation-delay: 3.16s;
}
.snowball-end-10 {
  animation-delay: 3.8s;
}
.snowball-start-11,
.snowball-end-11 {
  left: 400px;
}
.snowball-start-11 {
  animation-delay: 0s;
}
.snowball-end-11 {
  animation-delay: 0.4s;
}
.snowball-start-12,
.snowball-end-12 {
  left: 440px;
}
.snowball-start-12 {
  animation-delay: 0.84s;
}
.snowball-end-12 {
  animation-delay: 1.185s;
}
.snowball-start-13,
.snowball-end-13 {
  left: 480px;
}
.snowball-start-13 {
  animation-delay: 1.015s;
}
.snowball-end-13 {
  animation-delay: 3.675s;
}
.snowball-start-14,
.snowball-end-14 {
  left: 520px;
}
.snowball-start-14 {
  animation-delay: 1.23s;
}
.snowball-end-14 {
  animation-delay: 2.465s;
}
.snowball-start-15,
.snowball-end-15 {
  left: 560px;
}
.snowball-start-15 {
  animation-delay: 0.15s;
}
.snowball-end-15 {
  animation-delay: 2.13s;
}
.snowball-start-16,
.snowball-end-16 {
  left: 600px;
}
.snowball-start-16 {
  animation-delay: 1.8s;
}
.snowball-end-16 {
  animation-delay: 3.25s;
}
.snowball-start-17,
.snowball-end-17 {
  left: 640px;
}
.snowball-start-17 {
  animation-delay: 1.725s;
}
.snowball-end-17 {
  animation-delay: 1.55s;
}
.snowball-start-18,
.snowball-end-18 {
  left: 680px;
}
.snowball-start-18 {
  animation-delay: 0.06s;
}
.snowball-end-18 {
  animation-delay: 3.095s;
}
.snowball-start-19,
.snowball-end-19 {
  left: 720px;
}
.snowball-start-19 {
  animation-delay: 3.12s;
}
.snowball-end-19 {
  animation-delay: 2.76s;
}
.snowball-start-20,
.snowball-end-20 {
  left: 760px;
}
.snowball-start-20 {
  animation-delay: 0.66s;
}
.snowball-end-20 {
  animation-delay: 2.255s;
}
.snowball-start-21,
.snowball-end-21 {
  left: 800px;
}
.snowball-start-21 {
  animation-delay: 0s;
}
.snowball-end-21 {
  animation-delay: 1.8s;
}
.snowball-start-22,
.snowball-end-22 {
  left: 840px;
}
.snowball-start-22 {
  animation-delay: 0.34s;
}
.snowball-end-22 {
  animation-delay: 1.16s;
}
.snowball-start-23,
.snowball-end-23 {
  left: 880px;
}
.snowball-start-23 {
  animation-delay: 3.3s;
}
.snowball-end-23 {
  animation-delay: 2.235s;
}
.snowball-start-24,
.snowball-end-24 {
  left: 920px;
}
.snowball-start-24 {
  animation-delay: 0.3s;
}
.snowball-end-24 {
  animation-delay: 1.97s;
}
.snowball-start-25,
.snowball-end-25 {
  left: 960px;
}
.snowball-start-25 {
  animation-delay: 0.825s;
}
.snowball-end-25 {
  animation-delay: 1.475s;
}
.snowball-start-26,
.snowball-end-26 {
  left: 1000px;
}
.snowball-start-26 {
  animation-delay: 0.75s;
}
.snowball-end-26 {
  animation-delay: 1.8s;
}
.snowball-start-27,
.snowball-end-27 {
  left: 1040px;
}
.snowball-start-27 {
  animation-delay: 1.21s;
}
.snowball-end-27 {
  animation-delay: 6.95s;
}
.snowball-start-28,
.snowball-end-28 {
  left: 1080px;
}
.snowball-start-28 {
  animation-delay: 1.28s;
}
.snowball-end-28 {
  animation-delay: 4.12s;
}
.snowball-start-29,
.snowball-end-29 {
  left: 1120px;
}
.snowball-start-29 {
  animation-delay: 0.81s;
}
.snowball-end-29 {
  animation-delay: 2.42s;
}
.snowball-start-30,
.snowball-end-30 {
  left: 1160px;
}
.snowball-start-30 {
  animation-delay: 0.795s;
}
.snowball-end-30 {
  animation-delay: 1.965s;
}
.snowball-start-31,
.snowball-end-31 {
  left: 1200px;
}
.snowball-start-31 {
  animation-delay: 0s;
}
.snowball-end-31 {
  animation-delay: 0.4s;
}
.snowball-start-32,
.snowball-end-32 {
  left: 1240px;
}
.snowball-start-32 {
  animation-delay: 1.26s;
}
.snowball-end-32 {
  animation-delay: 1.28s;
}
.snowball-start-33,
.snowball-end-33 {
  left: 1280px;
}
.snowball-start-33 {
  animation-delay: 1.675s;
}
.snowball-end-33 {
  animation-delay: 1.7s;
}
.snowball-start-34,
.snowball-end-34 {
  left: 1320px;
}
.snowball-start-34 {
  animation-delay: 0.24s;
}
.snowball-end-34 {
  animation-delay: 2.25s;
}
.snowball-start-35,
.snowball-end-35 {
  left: 1360px;
}
.snowball-start-35 {
  animation-delay: 3.19s;
}
.snowball-end-35 {
  animation-delay: 2.54s;
}
@-moz-keyframes snowballStartRain {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    top: 90vh;
  }
}
@-webkit-keyframes snowballStartRain {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    top: 90vh;
  }
}
@-o-keyframes snowballStartRain {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    top: 90vh;
  }
}
@keyframes snowballStartRain {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    top: 90vh;
  }
}
@-moz-keyframes snowballStartRainTest {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90vh;
  }
}
@-webkit-keyframes snowballStartRainTest {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90vh;
  }
}
@-o-keyframes snowballStartRainTest {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90vh;
  }
}
@keyframes snowballStartRainTest {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90vh;
  }
}
