<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Snowing</title>
</head>
<body>

- var n = 0;
- var maxElements = 65;

while n++ < maxElements 
    div(class='snowball-' + n)

</body>
</html>