<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Snowing</title>
</head>
<body>

- var n_start = 0;
- var n_end = 0
- var maxElements = 1;

while n_start++ < maxElements 
    div(class='snowball-start-' + n_start)

while n_end++ < maxElements 
    div(class='snowball-end-' + n_end)

</body>
</html>