maxElements = 15
step = 20
positionElement = 0

size(n)
  width n  
  height n 

body {
    background-color: rgb(51, 94, 164);
    position: relative;
}

[class|=snowball]{
    position absolute;
    top: 0;
    left: 0;
    size(200px)
    background: white;
    border-radius: 50%;
}

for num in (1..maxElements)
  positionElement += step
  .snowball-{num}
    left positionElement px
    