body {
  background-color: #335ea4;
  position: relative;
}
[class|=snowball] {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
}
.snowball-1 {
  background-color: #f00;
}
.snowball-2 {
  background-color: #f00;
}
.snowball-3 {
  background-color: #f00;
}
.snowball-4 {
  background-color: #f00;
}
.snowball-5 {
  background-color: #f00;
}
.snowball-6 {
  background-color: #f00;
}
.snowball-7 {
  background-color: #f00;
}
.snowball-8 {
  background-color: #f00;
}
.snowball-9 {
  background-color: #f00;
}
.snowball-10 {
  background-color: #f00;
}
.snowball-11 {
  background-color: #f00;
}
.snowball-12 {
  background-color: #f00;
}
.snowball-13 {
  background-color: #f00;
}
.snowball-14 {
  background-color: #f00;
}
.snowball-15 {
  background-color: #f00;
}
