maxElements = 15
size(n)
  width n  
  height n 

body {
    background-color: rgb(51, 94, 164);
    position: relative;
}

[class|=snowball]{
    position absolute;
    top: 0;
    left: 0;
    size(200px)
    // width: 100px;
    // height: 100px;
    background: white;
    border-radius: 50%;
}

for num in (1..maxElements)
  .snowball-{num}
    background-color red