body {
  background-color: #335ea4;
  position: relative;
}
[class|=snowball] {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
}
.snowball-1 {
  left: 20px;
}
.snowball-2 {
  left: 40px;
}
.snowball-3 {
  left: 60px;
}
.snowball-4 {
  left: 80px;
}
.snowball-5 {
  left: 100px;
}
.snowball-6 {
  left: 120px;
}
.snowball-7 {
  left: 140px;
}
.snowball-8 {
  left: 160px;
}
.snowball-9 {
  left: 180px;
}
.snowball-10 {
  left: 200px;
}
.snowball-11 {
  left: 220px;
}
.snowball-12 {
  left: 240px;
}
.snowball-13 {
  left: 260px;
}
.snowball-14 {
  left: 280px;
}
.snowball-15 {
  left: 300px;
}
