maxElements = 65
stepDistance = 20
stepAnimationDelay = 0.5
animationDelay = 0
positionElementFirst = 0
sizeSnowball = 10
animationDelayEnd = 3

size(n = sizeSnowball)
  width n px
  height n px

* 
box-sizing border-box

body {
    background-color: rgb(51, 94, 164);
    position: relative;
}

[class|=snowball-start] 
[class|=snowball-end] {
    position absolute;
    top: 0;
    left: 0;
    size()
    background: white
    border-radius: 50%
    opacity 0
    animation snowballStartRain 3s infinite
}

[class|=snowball-end] {
    animation-delay: 10s;
}

mixin-animation-delay(arg = 0)
    for num in (6..1)
        if arg % num == 0
            return num * 0.1

for num in (1..maxElements)
    .snowball-start-{num}
      left positionElementFirst px
      animation-delay animationDelay s 
    positionElementFirst += stepDistance
    animationDelay = (mixin-animation-delay(num))
    .snowball-end-{num}
        background-color: red
        animation-delay animationDelayEnd s
    animationDelayEnd = (mixin-animation-delay(num))



@keyframes snowballStartRain {
    0% {
        opacity 0
        }
    30% {
        opacity 1
        }
    70% {
        opacity 1
        }
    100% {
        opacity 0
        top: 100vh
        }
}

    