*,
box-sizing border-box,
body {
  background-color: #335ea4;
  position: relative;
}
[class|=snowball] {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  animation: snowballRain 3s infinite;
}
.snowball-1 {
  left: 0px;
  animation-delay: 0s;
}
.snowball-2 {
  left: 20px;
  animation-delay: 0.3s;
}
.snowball-3 {
  left: 40px;
  animation-delay: 0.6s;
}
.snowball-4 {
  left: 60px;
  animation-delay: 0.9s;
}
.snowball-5 {
  left: 80px;
  animation-delay: 1.2s;
}
.snowball-6 {
  left: 100px;
  animation-delay: 1.2s;
}
.snowball-7 {
  left: 120px;
  animation-delay: 1.5s;
}
.snowball-8 {
  left: 140px;
  animation-delay: 1.8s;
}
.snowball-9 {
  left: 160px;
  animation-delay: 2.1s;
}
.snowball-10 {
  left: 180px;
  animation-delay: 2.4s;
}
.snowball-11 {
  left: 200px;
  animation-delay: 2.4s;
}
.snowball-12 {
  left: 220px;
  animation-delay: 2.7s;
}
.snowball-13 {
  left: 240px;
  animation-delay: 3s;
}
.snowball-14 {
  left: 260px;
  animation-delay: 3.299999999999999s;
}
.snowball-15 {
  left: 280px;
  animation-delay: 3.599999999999999s;
}
.snowball-16 {
  left: 300px;
  animation-delay: 3.599999999999999s;
}
.snowball-17 {
  left: 320px;
  animation-delay: 3.899999999999999s;
}
.snowball-18 {
  left: 340px;
  animation-delay: 4.199999999999999s;
}
.snowball-19 {
  left: 360px;
  animation-delay: 4.499999999999999s;
}
.snowball-20 {
  left: 380px;
  animation-delay: 4.799999999999999s;
}
.snowball-21 {
  left: 400px;
  animation-delay: 4.799999999999999s;
}
.snowball-22 {
  left: 420px;
  animation-delay: 5.099999999999999s;
}
.snowball-23 {
  left: 440px;
  animation-delay: 5.399999999999999s;
}
.snowball-24 {
  left: 460px;
  animation-delay: 5.699999999999998s;
}
.snowball-25 {
  left: 480px;
  animation-delay: 5.999999999999998s;
}
.snowball-26 {
  left: 500px;
  animation-delay: 5.999999999999998s;
}
.snowball-27 {
  left: 520px;
  animation-delay: 6.299999999999998s;
}
.snowball-28 {
  left: 540px;
  animation-delay: 6.599999999999998s;
}
.snowball-29 {
  left: 560px;
  animation-delay: 6.899999999999998s;
}
.snowball-30 {
  left: 580px;
  animation-delay: 7.199999999999998s;
}
.snowball-31 {
  left: 600px;
  animation-delay: 7.199999999999998s;
}
.snowball-32 {
  left: 620px;
  animation-delay: 7.499999999999997s;
}
.snowball-33 {
  left: 640px;
  animation-delay: 7.799999999999997s;
}
.snowball-34 {
  left: 660px;
  animation-delay: 8.099999999999998s;
}
.snowball-35 {
  left: 680px;
  animation-delay: 8.399999999999999s;
}
.snowball-36 {
  left: 700px;
  animation-delay: 8.399999999999999s;
}
.snowball-37 {
  left: 720px;
  animation-delay: 8.7s;
}
.snowball-38 {
  left: 740px;
  animation-delay: 9s;
}
.snowball-39 {
  left: 760px;
  animation-delay: 9.3s;
}
.snowball-40 {
  left: 780px;
  animation-delay: 9.600000000000001s;
}
.snowball-41 {
  left: 800px;
  animation-delay: 9.600000000000001s;
}
.snowball-42 {
  left: 820px;
  animation-delay: 9.900000000000002s;
}
.snowball-43 {
  left: 840px;
  animation-delay: 10.200000000000003s;
}
.snowball-44 {
  left: 860px;
  animation-delay: 10.500000000000004s;
}
.snowball-45 {
  left: 880px;
  animation-delay: 10.800000000000004s;
}
.snowball-46 {
  left: 900px;
  animation-delay: 10.800000000000004s;
}
.snowball-47 {
  left: 920px;
  animation-delay: 11.100000000000005s;
}
.snowball-48 {
  left: 940px;
  animation-delay: 11.400000000000006s;
}
.snowball-49 {
  left: 960px;
  animation-delay: 11.700000000000006s;
}
.snowball-50 {
  left: 980px;
  animation-delay: 12.000000000000007s;
}
.snowball-51 {
  left: 1000px;
  animation-delay: 12.000000000000007s;
}
.snowball-52 {
  left: 1020px;
  animation-delay: 12.300000000000008s;
}
.snowball-53 {
  left: 1040px;
  animation-delay: 12.600000000000009s;
}
.snowball-54 {
  left: 1060px;
  animation-delay: 12.90000000000001s;
}
.snowball-55 {
  left: 1080px;
  animation-delay: 13.20000000000001s;
}
.snowball-56 {
  left: 1100px;
  animation-delay: 13.20000000000001s;
}
.snowball-57 {
  left: 1120px;
  animation-delay: 13.50000000000001s;
}
.snowball-58 {
  left: 1140px;
  animation-delay: 13.800000000000011s;
}
.snowball-59 {
  left: 1160px;
  animation-delay: 14.100000000000012s;
}
.snowball-60 {
  left: 1180px;
  animation-delay: 14.400000000000013s;
}
.snowball-61 {
  left: 1200px;
  animation-delay: 14.400000000000013s;
}
.snowball-62 {
  left: 1220px;
  animation-delay: 14.700000000000014s;
}
.snowball-63 {
  left: 1240px;
  animation-delay: 15.000000000000014s;
}
.snowball-64 {
  left: 1260px;
  animation-delay: 15.300000000000015s;
}
.snowball-65 {
  left: 1280px;
  animation-delay: 15.600000000000016s;
}
@-moz-keyframes snowballRain {
  0% {
    opacity: 0;
    top: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
  }
}
@-webkit-keyframes snowballRain {
  0% {
    opacity: 0;
    top: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
  }
}
@-o-keyframes snowballRain {
  0% {
    opacity: 0;
    top: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
  }
}
@keyframes snowballRain {
  0% {
    opacity: 0;
    top: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
  }
}
