<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Snowing</title>
</head>
<body>

- var n_start = 0
- var n_end = 0
- var n_back = 0
- var n_back_back = 0
- var n_back_back_right = 0
- var maxElements = 35

-const frontSnowball = ['front-start','front-end']
-const backSnowball = ['back-start-left','back-start-right']
-const lastSnowball = ['last-start','last-end']
-const arrayClassNamesAllSnowball = [frontSnowball,backSnowball,lastSnowball]


mixin snowballCreationElementsDiv(maxIteration,classNameMain,classNamesArray = [])
    - let start_integer = 0
    - let layer = classNamesArray.length
    while start_integer++ < layer
        h1= classNamesArray
        while start_integer++ < maxIteration 
            h1= start_integer 
  
+snowballCreationElementsDiv(2,'name',arrayClassNamesAllSnowball)

while n_start++ < maxElements 
    div(class='snowball-start-' + n_start)

while n_end++ < maxElements 
    div(class='snowball-end-' + n_end)

while n_back++ < maxElements 
    div(class='snowball-back-' + n_back)

while n_back_back++ < maxElements 
    div(class='snowball-back-back-' + n_back_back)

while n_back_back_right++ < maxElements 
    div(class='snowball-back-back-right-' + n_back_back_right)

</body>
</html>