@import "./variables.styl"
@import "./mixins.styl"
@import "./animation.styl"

body 
    background color-background
    .container
         display flex
         position-center()
         background red
         font-size font-size-text
         border border-size black
         flex-wrap: nowrap
        :hover div 
            transform rotateY(360deg)
        div 
            display inline-block
            font-family font-style
            transition .9s
        .hidden
            visibility hidden
        animation(14)

