@import "variables.styl"
@import "mixins.styl"

body 
    background color-background
    reset_padding_and_margin()
    h1 
        font-size font-size-text
        reset_padding_and_margin()
        position-center()
        font-family font-style
        color color-text
        text-align center



    

